<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLsj_yBT2R6KpemkKSDbuD5olmx60mgHg</string>
	<key>GCM_SENDER_ID</key>
	<string>1023025398548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sleeplew.sleepapp</string>
	<key>PROJECT_ID</key>
	<string>sleep-app-mrlfi4</string>
	<key>STORAGE_BUCKET</key>
	<string>sleep-app-mrlfi4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023025398548:ios:e2e3bb1851b545b2d9f801</string>
</dict>
</plist>